<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyectohabitos.example.neita.habitos">

    <!-- permisos para utilizar la clase media player para reproducir la alarma del cronometro -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- permisos para cuando se reinicia el dispositivo -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Task.FrmTasks"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task.FrmTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chronometer.FrmChronometer"
            android:parentActivityName=".Task.FrmTasks"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Task.FrmTask" />
        </activity>
        <activity
            android:name=".Statistics.FrmStatistics"
            android:parentActivityName=".Task.FrmTasks"
            android:screenOrientation="portrait" />
        <!-- servicio conectado a la clase alarmTaskService para programar una alarma del cronometro -->
        <service
            android:name=".Chronometer.Services.ChronometerNotification.ServiceChrNotification"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".Chronometer.Services.ChronometerNotification.ServiceChrSound"
            android:exported="true"
            android:launchMode="singleTask" />
        <service
            android:name=".Chronometer.Services.ChronometerNotification.ServiceChrButtonNotific"
            android:exported="true"
            android:launchMode="singleTask" />

        <!-- servicios conectado a la clase para programar alamra -->
        <service
            android:name=".Reminder.AlarmNotification.Services.ServiceAlarmNotification"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">

            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".Reminder.AlarmNotification.Services.ServiceAlarmSound"
            android:exported="true"
            android:launchMode="singleTask" />
        <service
            android:name=".Reminder.AlarmNotification.Services.ServiceAlarmButtonNotific"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name=".Result.Services.ServiceCreateDailyResult"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <!-- Para cerrar la actividad chrono-->
        <receiver android:name=".Chronometer.BroadcastReceivers.CloseChronoBcastReceiver">
            <intent-filter>
                <action android:name="com.hmkcode.android.CLOSE_CRONO_ACTIVITY" />
            </intent-filter>
        </receiver>
        <!-- Here we specify that we want to send BOOT_COMPLETED to our
     AutoStart class -->

    </application>

</manifest>