<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyectohabitos.example.neita.habitos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Task.FrmTasks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Task.FrmTask" />
        <activity
            android:name=".FrmChronometer"
            android:parentActivityName=".Task.FrmTasks">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Task.FrmTask" />
        </activity>

        <activity android:name=".Statistics.FrmStatistics" />
        <activity android:name=".Statistics.Fragments.WeeklyStatistics" />
        <activity android:name=".Statistics.Fragments.MonthlyStatistics" />
        <activity android:name=".Statistics.Fragments.GlobalStatistics" />
        <activity android:name=".DialogFragments.NumPickersDialogFragment"></activity>

        <!-- permisos para utilizar la clase media player para reproducir la alarma del cronometro-->
        <uses-permission android:name="android.permission.INTERNET" />  <!-- acceso a internet-->
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


        <!-- servicio conectado a la clase alarmTaskService para programar una alarma del cronometro-->
        <service
            android:name=".Services.ChronometerNotification.ServiceChrNotification"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.ChronometerNotification.ServiceChrSound"
            android:exported="true"
            android:launchMode="singleTask"></service>
        <service
            android:name=".Services.ChronometerNotification.ServiceChrButtonNotific"
            android:exported="true"
            android:launchMode="singleTask"></service>

        <receiver android:name="proyectohabitos.example.neita.habitos.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.hmkcode.android.USER_ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>