<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyectohabitos.example.neita.habitos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Task.FrmTasks"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task.FrmTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrmChronometer"
            android:parentActivityName=".Task.FrmTasks"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Task.FrmTask" />
        </activity>
        <activity
            android:name=".Statistics.FrmStatistics"
            android:screenOrientation="portrait"
            android:parentActivityName=".Task.FrmTasks" />

        <activity android:name=".DialogFragments.NumPickersDialogFragment" />

        <!-- permisos para utilizar la clase media player para reproducir la alarma del cronometro -->
        <uses-permission android:name="android.permission.INTERNET" /> <!-- acceso a internet -->
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

        <!-- servicio conectado a la clase alarmTaskService para programar una alarma del cronometro -->
        <service
            android:name=".Services.ChronometerNotification.ServiceChrNotification"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.ChronometerNotification.ServiceChrSound"
            android:exported="true"
            android:launchMode="singleTask" />
        <service
            android:name=".Services.ChronometerNotification.ServiceChrButtonNotific"
            android:exported="true"
            android:launchMode="singleTask" />

        <!-- servicios conectado a la clase para programar alamra -->
        <service
            android:name=".Services.AlarmNotification.ServiceAlarmNotification"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.AlarmNotification.ServiceAlarmSound"
            android:exported="true"
            android:launchMode="singleTask" />
        <service
            android:name=".Services.AlarmNotification.ServiceAlarmButtonNotific"
            android:exported="true"
            android:launchMode="singleTask" />

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.hmkcode.android.USER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>